@import "tailwindcss";

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

/* :root = highest-level selector
Variables defined here are available everywhere in your app. */

:root {
  --primary-color: rgb(255 82 0);
  --shimmer-bg: #e3e3e3;
  --shimmer-radius: 10px;
  --shimmer-speed: 1.6s;
}
