* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* :root = highest-level selector
Variables defined here are available everywhere in your app. */

:root {
  --primary-color: rgb(255 82 0);
  --shimmer-bg: #e3e3e3;
  --shimmer-radius: 10px;
  --shimmer-speed: 1.6s;
}


.header {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    padding: 10px 40px;
} 

.logo {
    height: 60px;
}

.nav-items > ul {
    display: flex;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.search {
    padding: 30px 40px;
    /* width: 50%; */
    display: flex;
    justify-content: space-between;
}

.search-input {
    width: 80%;
    border: 1.5px solid var(--primary-color);
    padding: 8px;
    border-radius: 6px;

    /* color: gray; */
}

.search-button {
    /* width: 100%; */
    border: none;
    padding: 8px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.restro-card {
    width: 200px;
    height: 250px;
    border-radius: 6px;
    padding: 4px;
    box-shadow: 0px 0px 1px #000000bf;
    cursor: pointer;
    border: 2px solid transparent;              /* Trick */
    transition: border 0.2s;
    box-sizing: border-box;
}

.restro-card:hover {
    border: 1px solid #80808075;
}

.restro-image {
    width: 190px;
    height: 150px;
    border-radius: 6px;
}

.restro-container {
    padding: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
    gap: 24px;
}

.restro-header {
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}

.restro-cuisine {
    font-size: 11px;
    color: gray;
    margin: 4px 0px;
    font-family: sans-serif;
}

.restro-details {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.shimmer-container {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}

/* .shimmer-card {
    height: 200px;
    width: 160px;
    /* background-color: rgb(236, 231, 231);
    border-radius: 6px; 
    border-radius: 8px;
    background: #eaeaea;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
} */

.shimmer-card {
    width: 160px;
    height: 200px;
    border-radius: var(--shimmer-radius);
    position: relative;
    overflow: hidden;
    background: var(--shimmer-bg);
}

.shimmer-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,0.5),
        transparent
    );
    animation: shimmer var(--shimmer-speed) infinite;
}

.login-button {
    background-color: orange;
    border: none;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit
}

.menu-image {
    height: 100px;
    margin-left: 80px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.menu-item-container {
    display: flex;
    align-items: center;
}

.restraurant-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item-name {
    min-width: 200px;
}